@import "tailwindcss";

@font-face {
	font-family: "NunitoSans";
	src: url("/NunitoSans.ttf") format("ttf");
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-family-sans: NunitoSans, sans-serif;
	--color-background: #231c44;
	--color-primary: #4d4a73;
	--color-primaryLight: #d0cee5;
	--color-primaryDark: #2b254d;
	--color-surface: #f4efe6;
	--color-accent: #e5d5b8;
	--color-textLight: #ffffff;
	--color-textDark: #2b254d;
	--color-sucess: #41c460;
	--color-warning: #e4b521;
	--color-error: #e64248;
	--color-neutral: #2279ca;
}

.material-symbols-rounded {
	font-variation-settings: "FILL" 1;
}
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
